{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Seminar Pasutri</h1>
        <h5>
        <span class="badge badge-pill badge-primary">Sulawesi Selatan</span>
        <span class="badge badge-pill badge-secondary">Sulawesi Barat</span>
        <span class="badge badge-pill badge-success">Sulawesi Tenggara</span>
        <span class="badge badge-pill badge-danger">Sulawesi Utara</span>
        <span class="badge badge-pill badge-warning">Gorontalo</span>
        </h5>
        <img src="{% static 'pujaanhatiku.jpeg' %}" width=60% />
        <br />
        <a href="{% url 'register' %}" class="btn btn-primary my-2">Segera ! <br /> Daftarkan Diri Anda</a>
        <br />
        <p class="lead text-muted">Atau Kontak Panitia Untuk Informasi Lebih Lanjut. <br />
          Hubungi : Frieda L - 0821 9571 2478 atau melalui
          <a href="mailto:frieda.liwandouw@gmail.com?subject="Pendaftaran" class="btn btn-info btn-sm">Email</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{% static 'mdsulsel.jpeg' %}" width=100% height=225 />
              <div class="card-body">
                <p class="card-text">Majelis Daerah Sulawesi Selatan.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{% static 'mdsulsel2.jpeg' %}" width=100% height=225 />
              <div class="card-body">
                <p class="card-text">Majelis Daerah Sulawesi Selatan</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{% static 'mdsulsel3.jpeg' %}" width=100% height=225 />
              <div class="card-body">
                <p class="card-text">Majelis Daerah Sulawesi Selatan</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{% static 'mdsulut.jpeg' %}" width=100% height=225 />
              <div class="card-body">
                <p class="card-text">Majelis Daerah Sulawesi Utara</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{% static 'mdgorontalo.jpeg' %}" width=100% height=225 />
              <div class="card-body">
                <p class="card-text">Majelis Daerah Gorontalo</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>

        </main>

{% endblock %}
